@model IEnumerable<Crawler.Domain.Entities.SearchResult>

@{
	Layout = null;
}

@foreach (var result in Model)
{
	<li class="list-group-item" data-id="@result.Id">
		<a href="@result.Link" target="_blank">
			<h4 class="list-group-item-heading">@result.Title</h4>
		</a>
		<p class="list-group-item-text">@result.Description</p>
		<p>@result.SearchEngineType.ToString()</p>
	</li>
}
